<p>
  <strong>Acronym:</strong>
  <%= @acronym.name %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @acronym.definition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @acronym.description %>
</p>
