<div class="jumbotron">
  <h1>Octonym</h1>
  <p>The easiest way to decipher your organization's acronyms.<p>
  <p><a href="mailto:hello@octonym.com" class="btn btn-primary btn-lg">Learn more</a></p>
</div>
