<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Octonym enables you to quickly decipher your company's acronyms.</h1>
            <a href="#download" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>
            <a href="mailto:hello@octonym.com" class="btn btn-outline btn-xl">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Download the Chrome Extension.</h2>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="https://developer.chrome.com/webstore/images/ChromeWebStore_Badge_v2_496x150.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2018 Octonym inc. All Rights Reserved.</p>
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>

<!-- jQuery -->
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
